.popup__cross {
  background-image: url("../../../images/Close-icon.svg");
  background-size: contain;
  width: 32px;
  height: 32px;
  position: absolute;
  top: -40px;
  right: -40px;

}
@media (max-width: 725px) {
  .popup__cross {

    width: 20px;
    height: 20px;
    top: -36px;
    right: 0;
  }
}